@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Space+Grotesk:wght@500;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-blue: #002B5B;
  --color-brand-accent: #D4FF00;
  --color-brand-dark: #001A33;
  
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}
